@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h2{
    margin: 30px;
    font-size: 35px;
    text-align: center;
}
form{
    font-weight: bold;
    background: #D9D9D9;
    font-size: 22px;
    height: 55vh;
    width: 50%;
    /* align-items: center;s */
    /* text-align: center; */
    margin: auto;
    padding: 50px;

}
form label{
    font-size: 1.5rem;
}
form input{
    height: 1.7rem;
    width: 70%;
    border: none;
    float: right;
    outline: none;
    border-radius: 8px;
    font-weight: bold;
}
select{
    height: 1.7rem;
    width: 70%;
    border: none;
    float:right;
    outline: none;
    border-radius: 8px;
    font-weight: bold;
}
.submit{
    background-color: red;
    color: white;
    width: 250px;
    height: 35px;
    font-size: 20px;
    float:right;
    margin-bottom: 30px;
    cursor: pointer;
}
@media (max-width:900px) {
    form{
        height: 73vh;
        width: 80%;
    }
form input{
    display: inline-block;
    width: 100%;
    margin: 10px;
}
select{
    width: 100%;
    margin: 10px;
}
.submit{
    width: 100%;
    cursor: pointer;
}
}