body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    padding: 0 2vw;
    height: 95vh;
    overflow: auto;
    cursor: default;
}

.announceHead, .opportunityHead, .FeedsHead{
    font-size: 1.5rem;
    font-weight: 400;
}

.announceList {
    border: 4px solid #E01518;
    color: #E01518;
    margin: 2vh 2vw;
}

.announceList ul {
    margin: 2vh 2vw;
    padding: 0;
}

.announceList ul li {
    list-style: none;
    font-size: 1.3rem;
    font-weight: 500;
}

.opportunityList {
    margin: 2vh 2vw;
    display: flex;
    flex-direction: column;
}

.slideshow-container {
  width: 90vw;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides {
    width: 90%;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
}

.opportunityDetails {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #fff;
}

.opportunityName {
    font-size: 3rem;
    font-weight: 700;
}

.opportunityInitiative {
    font-size: 2rem;
}

.coreOpportunityDetails {
    margin-top: 2vh;
    font-size: 1.5rem;
}

.prev, .next {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  color: #2196F3;
  width: 3%;
  font-size: 3.5rem;
  letter-spacing: -0.3rem;
  transform: scale(.5, 1);
  margin: 0 0 0 1%;
}

.prev {
    margin: 0 1% 0 0;
    direction: rtl;
}

.dots {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 0.2vw;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.Feeds {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 0;
    box-sizing: border-box;
}

.FeedsHead {
    align-self: flex-start;
    position: sticky;
    top: 2vh;
}

.post {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 50vw;
    margin: 1vh 0;
    border-radius: 2rem;
}

.post:last-of-type {
    margin-bottom: 5vh;
}

.postUser {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
    box-sizing: border-box;
    padding: 2rem 1.5rem;
}

.FeedProfilePicture img:first-of-type {
    width: 35px;
    height: 35px;
}

.FeedProfilePicture .check {
    bottom: -10%;
    right: -10%;
}

.postImage {
    height: 70%;
    width: 100%;
}

.postImage img {
    width: 100%;
    height: 100%;
}

.postFooter {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
}

.LikeAndShare{
    height: 100%;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.LikeAndShare img{
    width: 32%;
    cursor: pointer;
}

.description {
    width: 76%;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    color: #464646;
}

@media  only screen and (max-width: 2560px) {
    .announceHead, .opportunityHead, .FeedsHead{
        font-size: 3rem;
    }
    .announceList ul {
        margin: 1.3vh 1.3vw;
    }
    .announceList ul li {
        font-size: 2rem;
    }
    .slides {
        width: 90%;
    }
    .mySlides{
        height: 40vh;
        width: 100%;
        border-radius: 4rem;
    }
    .opportunityDetails {
        position: absolute;
        top: 10vh;
        left: 10vw;
        color: #fff;
        overflow: hidden;
    }
    .opportunityName {
        font-size: 5rem;
    }
    .opportunityInitiative {
        font-size: 4rem;
    }
    .coreOpportunityDetails {
        margin-top: 1.5vh;
        font-size: 2.3rem;
    }
    .prev, .next {
        font-size: 5rem;
    }
    .dot {
        height: 25px;
        width: 25px;
    }
    .post {

        height: 1480px;
        width: 1200px;
    }
    .postUser {
        height: 130px;
        font-size: 4rem;
    }
    .FeedProfilePicture {
        display: flex;
        align-items: center;
    }
    .FeedProfilePicture img:first-of-type {
        width: 90px;
        height: 90px;
        border-width: 5px;
    }
    .FeedProfilePicture .check {
        width: 40px;
        bottom: -90%;
        right: -150%;
    }
    .postImage {
        height: 1200px;
    }
    .postFooter {
        height: 150px;
    }
    .LikeAndShare{
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .LikeAndShare img{
        width: 30%;
    }
    .description {
        width: 75%;
        height: 100%;
        font-size: 2rem;
    }
}

@media  only screen and (max-width: 1440px) {
    .announceHead, .opportunityHead, .FeedsHead{
        font-size: 2rem;
    }
    .announceList ul {
        margin: 1.3vh 1.3vw;
    }
    .announceList ul li {
        font-size: 1.4rem;
    }
    .slides {
        width: 90%;
    }
    .mySlides{
        height: 40vh;
        width: 100%;
        border-radius: 3.5rem;
    }
    .opportunityDetails {
        position: absolute;
        top: 10vh;
        left: 10vw;
        color: #fff;
        overflow: hidden;
    }
    .opportunityName {
        font-size: 2.3rem;
    }
    .opportunityInitiative {
        font-size: 2rem;
    }
    .coreOpportunityDetails {
        margin-top: 1.5vh;
        font-size: 1rem;
    }
    .prev, .next {
        font-size: 4.5rem;
    }
    .dot {
        height: 14px;
        width: 14px;
    }
    .post {
        height: 500px;
        width: 500px;
    }
    .postUser {
        height: 60px;
        font-size: 2rem;
    }
    .FeedProfilePicture {
        display: flex;
        align-items: center;
    }
    .FeedProfilePicture img:first-of-type {
        width: 35px;
        height: 35px;
        border-width: 4px;
    }
    .FeedProfilePicture .check {
        width: 17px;
        bottom: -10%;
        right: -10%;
    }
    .postImage img {
        width: 100%;
        height: 100%;
    }
    .postFooter {
        height: 100px;
    }
    .LikeAndShare{
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .LikeAndShare img{
        width: 30%;
    }
    .description {
        width: 75%;
        height: 100%;
        font-size: 1.2rem;
    }
}

@media  only screen and (max-width: 1024px) {
    .announceHead, .opportunityHead, .FeedsHead{
        font-size: 1.5rem;
    }
    .announceList ul {
        margin: 1.1vh 1.1vw;
    }
    .announceList ul li {
        font-size: 1.1rem;
    }
    .slides {
        width: 90%;
    }
    .mySlides{
        height: 40vh;
        width: 100%;
        border-radius: 2.5rem;
    }
    .opportunityDetails {
        position: absolute;
        top: 10vh;
        left: 10vw;
        color: #fff;
        overflow: hidden;
    }
    .opportunityName {
        font-size: 2rem;
    }
    .opportunityInitiative {
        font-size: 1.5rem;
    }
    .coreOpportunityDetails {
        margin-top: 1.2vh;
        font-size: 1.1rem;
    }
    .prev, .next {
        font-size: 3.2rem;
    }
    .dot {
        height: 12px;
        width: 12px;
    }
    .post {
        height: 500px;
        width: 500px;
    }
    .postUser {
        height: 60px;
        font-size: 2rem;
    }
    .FeedProfilePicture {
        display: flex;
        align-items: center;
    }
    .FeedProfilePicture img:first-of-type {
        width: 35px;
        height: 35px;
        border-width: 4px;
    }
    .FeedProfilePicture .check {
        width: 17px;
        bottom: -10%;
        right: -10%;
    }
    .postImage img {
        width: 100%;
        height: 100%;
    }
    .postFooter {
        height: 100px;
    }
    .LikeAndShare{
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .LikeAndShare img{
        width: 30%;
    }
    .description {
        width: 75%;
        height: 100%;
        font-size: 1.2rem;
    }
}

@media  only screen and (max-width: 768px) {
    .announceHead, .opportunityHead, .FeedsHead{
        font-size: 1.2rem;
    }
    .announceList ul {
        margin: 1vh 1vw;
    }
    .announceList ul li {
        font-size: 0.9rem;
    }
    .slides {
        width: 90%;
    }
    .mySlides{
        height: 280px;
        width: 100%;
        border-radius: 2rem;
    }
    .opportunityDetails {
        position: absolute;
        top: 10vh;
        left: 10vw;
        color: #fff;
        overflow: hidden;
    }
    .opportunityName {
        font-size: 1.5rem;
    }
    .opportunityInitiative {
        font-size: 1.2rem;
    }
    .coreOpportunityDetails {
        margin-top: 1.2vh;
        font-size: 1rem;
    }
    .prev, .next {
        font-size: 2.5rem;
    }
    .dot {
        height: 9px;
        width: 9px;
    }
    .post {
        height: 450px;
        width: 450px;
    }
    .postUser {
        height: 40px;
        font-size: 1.5rem;
    }
    .FeedProfilePicture {
        display: flex;
        align-items: center;
    }
    .FeedProfilePicture img:first-of-type {
        width: 30px;
        height: 30px;
        border-width: 3px;
    }
    .FeedProfilePicture .check {
        width: 14px;
        bottom: 0;
        right: 10%;
    }
    .postImage {
        height: 700px;
    }
    .postImage img {
        width: 100%;
        height: 100%;
    }
    .postFooter {
        height: 100px;
        padding: 2px;
    }
    .LikeAndShare{
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .LikeAndShare img{
        width: 30%;
    }
    .description {
        width: 75%;
        height: 100%;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .FeedsHead {
        position: static;
    }
}

@media  only screen and (max-width: 425px) {
    .announceHead, .opportunityHead, .FeedsHead{
        font-size: 1.1rem;
    }
    .announceList {
        border: 2.5px solid #E01518;
    }
    .announceList ul {
        margin: 1vh 1vw;
    }
    .announceList ul li {
        font-size: 0.9rem;
    }
    .slides {
        width: 90%;
    }
    .mySlides{
        height: 200px;
        width: 100%;
        border-radius: 1.5rem;
    }
    .opportunityDetails {
        position: absolute;
        top: 7vh;
        left: 10vw;
        color: #fff;
        overflow: hidden;
    }
    .opportunityName {
        font-size: 1.2rem;
    }
    .opportunityInitiative {
        font-size: 1.1rem;
    }
    .coreOpportunityDetails {
        margin-top: 1vh;
        font-size: 0.8rem;
    }
    .prev, .next {
        font-size: 2rem;
    }
    .dot {
        height: 7px;
        width: 7px;
    }
    .post {
        height: 425px;
        width: 100%;
    }
    .postUser {
        height: 40px;
        font-size: 1.2rem;
    }
    .FeedProfilePicture {
        display: flex;
        align-items: center;
    }
    .FeedProfilePicture img:first-of-type {
        width: 30px;
        height: 30px;
        border-width: 3px;
    }
    .FeedProfilePicture .check {
        width: 14px;
        bottom: -7%;
        right: -10%;
    }
    .postImage img {
        width: 100%;
        height: 100%;
    }
    .postFooter {
        height: 100px;
        padding: 2px;
    }
    .LikeAndShare{
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .LikeAndShare img{
        width: 30%;
    }
    .description {
        width: 75%;
        height: 100%;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 375px) {
    .postUser {
        padding: 2px 0 5px 15px;
    }
    .FeedProfilePicture {
        display: flex;
        align-items: center;
    }
    .FeedProfilePicture img:first-of-type {
        width: 25px;
        height: 25px;
        border-width: 3px;
    }
    .FeedProfilePicture .check {
        width: 12px;
        bottom: -7%;
        right: -7%;
    }
}

@media  only screen and (max-width: 325px) {
    .announceHead, .opportunityHead, .FeedsHead{
        font-size: 1rem;
    }
    .announceList {
        border: 2px solid #E01518;
    }
    .announceList ul {
        margin: 1vh 1vw;
    }
    .announceList ul li {
        font-size: 0.7rem;
    }
    .slides {
        width: 90%;
    }
    .mySlides{
        height: 150px;
        width: 100%;
        border-radius: 1.2rem;
    }
    .opportunityDetails {
        position: absolute;
        top: 5vh;
        left: 10vw;
        color: #fff;
        overflow: hidden;
    }
    .opportunityName {
        font-size: 1rem;
    }
    .opportunityInitiative {
        font-size: 0.8rem;
    }
    .coreOpportunityDetails {
        margin-top: 0.8vh;
        font-size: 0.6rem;
    }
    .prev, .next {
        font-size:  1.5rem;
    }
    .dot {
        height: 4px;
        width: 4px;
    }
    .post {
        height: 325px;
        width: 100%;
    }
    .postUser {
        height: 40px;
        font-size: 1rem;
    }
    .FeedProfilePicture {
        display: flex;
        align-items: center;
    }
    .FeedProfilePicture img:first-of-type {
        width: 20px;
        height: 20px;
        border-width: 2px;
    }
    .FeedProfilePicture .check {
        width: 10px;
        bottom: 2%;
        right: 14%;
    }
    .postImage img {
        width: 100%;
        height: 100%;
    }
    .postFooter {
        height: 80px;
        padding: 2px;
    }
    .LikeAndShare{
        height: 100%;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .LikeAndShare img{
        width: 35%;
    }
    .description {
        width: 75%;
        height: 100%;
        font-size: 0.8rem;
    }
}