.sales{
    background-color: #E4E6ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    margin: 2vh auto;
    /* margin:  0; */
    border-radius: 12px;
}

.sales-tab{
    display: flex;
}

.active-option{
    color:#2196F3;
    border-bottom: solid #2196F3;
}

.table, .tr, .td, .th {
    width: 100%;
    text-align: left;
}

.tr{
    display: flex;
    border-bottom: solid 1px #87898a;
}

.sale-tab{
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1vh 0;
    transition: all ease-in-out 0.25s;
    border-radius: inherit;
}

.sale-tab:hover{
    background-color: #D9D9D9;
    border-radius: inherit;

}

.sales-table {
    width: 90%;
    margin: 2vh auto;
}

.th, .td{
    margin: 2px;
    /* border: solid gray 1px; */
    padding: 2px;
    /* border-width: 0 1px 0 0; */
}

.tr .th{
    background: #D9D9D9;
    text-align: center;

}

.td{
    display: flex;
    align-items: center;
    text-align: center;
}

.sales-table table tr{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.td:nth-child(){
    
}

.table-hide{
    display: none;
}

#table-2 .tr .th:nth-child(1), #table-2 .tr .td:nth-child(1){
    width: 2;
}

#table-2 .total-amount{
    text-align: right;
    display: flex;
    justify-content: end;
}

button{
    width: 10vw;
    border:solid transparent 1px;
    padding: 4px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 6px;
    transition: all ease-in-out 0.25s;
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

button:hover{
    background-color: #D9D9D9;
}

.add-details, #edit-form-details, #show-form-details{
    width: 60vw;
    height: fit-content;
    background: #D9D9D9;
    position: fixed;
    top: 10vh;
    /* margin: 0 20vw; */
    margin:auto;
    left: 20vw;
    border-radius: 20px;
    max-height: 80vh;
    overflow-y: scroll;
    display: none;
}

.close_add-details{
    position: relative;
    left: 90%;
    top: 10%;
    width: 30px;
    height: 30px;
}

.add-details__title{
    text-align: center;
}

.add_new, .btn-prospectus{
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_new img{
    border-radius: 50%;
    width: 10;
}

.whatsapp-image{
    height: 30px;
}

.customer_contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
}

.prospectus-icons{
    width: clamp(1rem, 2vw, 2rem);
}

.add-details form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
}

.add-details form label{
    margin: 1rem;
    text-align: left;
}

label{
    width: 30vw;
    /* border: solid black 1px; */
    display: flex;
    justify-content: space-around;
}

.form_label div{
    width: 10vw;
    /* border: solid black 1px; */
}

.form-input{
    width: 15vw;
    /* position: relative; */
    /* left: 100px; */
}

/* Edit details form */
#edit-form-details{
    /* display: block; */
    width: 60vw;
}

.order_edit_form{
    padding:20px 0 20px 20px;
}

.order_edit_form div h4{
    text-align: center;
}

.edit_order_area{
    display:flex;
    justify-content: space-evenly;
}

.edit_order_area__image{
    width:40%;
}

.edit_order_area__details{
    width: 50%;
}

.edit_order_area__details div{
    width: 80%;
    margin: 10px auto;
    /* border: solid black 1px; */
    text-align: left !important;
}

.input_details, .input_details_50, .data_details, .data_details_50{
    border-radius: 5px;
    border:solid #87898a 1px;
    padding: 2px;
    font-size: 1rem;
    /* margin: 2vh 1vw ; */
}

.input_details, .data_details{
    width: 80%;
}


.input_details_50,  .data_details_50{
    width: 40%;
}

.edit_customer_details{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.edit_customer_details input{
    margin: 6px 0;
}

/* For all buttons */
.form_btn{
    font-size:1.1rem;
    background: lightskyblue;
    border-radius: 12px;
    padding: 5px 10px;
    border: none;
    box-shadow: 2px 2px 4px #999999;
    margin: 10px auto;
}

/* For update */
#edit_update_btn{
    background:#41D950;
}

/* Making the compnents sticky */
.make-sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

#edit_form_close{
    position: relative;
    right: 0px;
    top:0px;
}

/* Sold Table*/
/* Defining the column width */
.sold_check_column{
    /* width: fit-content; */
    width: 1vw;
    /* overflow-x: hidden; */

}

.sold_product_name{
    width:90%;
    /* width: 1vw; */
}

.sold_check_column input[type=checkbox]{
    width: 1vw;
}

.sold_quantity{
    /* width: 6vw; */
}

.sold_customer_details{
    width: 30vw;
}

.sold_pay{
    width:fit-content;
}


/* Customer Details div */
.sold_customer_details_all{
    flex-wrap: wrap;
}

.sold_customer_details__name{
    width:fit-content;
    padding: 2% 6%;
}

.customer_details_icon{
    width: fit-content;
    transition: all 0.5s ease-in-out;    
}

.sold_customer_details_visible{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sold_customer_details_hidden{
    display: flex;
    flex-direction: column;
    display: block;
    transition: height 0.5s ease-in-out;    
    overflow:hidden;
    height: 0px;
}

.detail_display{
    height: 3rem;
}

.btn_rotate{
    transform: rotate(180deg);
}

@media (max-width:540px) {
    #edit-form-details{
        width: 80vw;
        left: 10vw;
    }
}