.sales{
    background-color: #E4E6ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    margin: 2vh auto;
    /* margin:  0; */
    border-radius: 12px;
}

.sales-tab{
    display: flex;
}

.active-option{
    color:#2196F3;
    border-bottom: solid #2196F3;
}

.table, .tr, .td, .th {
    width: 100%;
    text-align: left;
}

.tr{
    display: flex;
}

.sale-tab{
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1vh 0;
    transition: all ease-in-out 0.25s;
    border-radius: inherit;
}

.sale-tab:hover{
    background-color: #D9D9D9;
    border-radius: inherit;

}

.sales-table {
    width: 90%;
    margin: 2vh auto;
}

.th, .td{
    margin: 2px;
    /* border: solid gray 1px; */
    padding: 2px;
    /* border-width: 0 1px 0 0; */
}

.tr .th{
    background: #D9D9D9;
}

.sales-table table tr{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.td:nth-child(){
    
}

.table-hide{
    display: none;
}

#table-2 .tr .th:nth-child(1), #table-2 .tr .td:nth-child(1){
    width: 2;
}

#table-2 .total-amount{
    text-align: right;
    display: flex;
    justify-content: end;
}

button{
    width: 10vw;
    border:solid transparent 1px;
    padding: 4px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 6px;
    transition: all ease-in-out 0.25s;
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

button:hover{
    background-color: #D9D9D9;
}

.add-details{
    width: 60vw;
    height: fit-content;
    background: #D9D9D9;
    position: fixed;
    top: 10vh;
    /* margin: 0 20vw; */
    margin:auto;
    left: 20vw;
    border-radius: 20px;
    max-height: 80vh;
    overflow-y: scroll;
    display: none;
}

.close_add-details{
    position: relative;
    left: 90%;
    top: 10%;
    width: 30px;
    height: 30px;
}

.add-details__title{
    text-align: center;
}

.add-details form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
}

.add-details form label{
    margin: 1rem;
    text-align: left;
}

label{
    width: 30vw;
    /* border: solid black 1px; */
    display: flex;
    justify-content: space-around;
}

.form_label div{
    width: 10vw;
    /* border: solid black 1px; */
}

.form-input{
    width: 15vw;
    /* position: relative; */
    /* left: 100px; */
}