html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.heading {
  position: relative;
  width: 149px;
  height: 18px;
  left: 20px;
  top: 38px;
  margin: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 12px;

  align-items: center;

  color: #000000;
}
.container {
  height: 20rem;
  width: 100%;
}
form {
  font-weight: bold;
  background: #d9d9d9;

  width: 100%;
  margin: 4rem auto 0 auto;
  padding: 50px;
}
.form-group {
  display: grid;
  grid-template-columns: 100px 50fr;
  align-items: center;
  text-align: center;
  width: 75%;
  padding-left: 60px;
}
.form-group label {
  text-align: left;
  font-size: 22px;
}
.form-group textarea-label {
  text-align: left;
  font-size: 22px;
}
input[type="text"],
input[type="number"],
select {
  width: 100%;
  line-height: 18px;
  padding: 5px 10px;
  box-sizing: border-box;
  background: #ffffff;
  border: none;
  font-size: 3vw;
  align-items: center;
  display: flex;
  background-color: #ffffff;
}

.form-group select {
  display: grid;
  grid-template-columns: 100px 50fr;

  border: none;
  outline: none;
  font-weight: 100;
  text-align: left;
  padding: 0px 0px 0px 10px;
  margin: 0;
  color: #706c6c;

  align-items: center;
}
.submit {
  background-color: red;
  color: white;
  width: 15%;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  top: 70%;
  left: 40%;
  position: absolute;
  text-align: center;
  padding: 5px;
}
.submit:hover {
  background-color: rgb(207, 98, 98);
}
@media only screen and (max-width: 2560px) {
  .container {
    height: 100%;
    width: 100%;
  }
  form {
    width: 100%;
  }
  form input {
    width: 75%;
    height: 15px;
    margin: 10px;
    margin-left: 25px;
    font-size: 18px;
  }

  .form-group select {
    height: 30px;
  }
}

@media only screen and (min-width: 992px) {
  input[type="text"],
  input[type="number"],
  select {
    border-radius: 15px;
    padding: 15px;
    margin: 15px 70px 15px 35px;
    font-weight: 200;
  }
}
@media only screen and (min-width: 400px) {
}

.form-group select {
  margin-left: 0px;
  /* height: 16px;
  padding: 0px; */
}
@media only screen and (min-width: 650px) {
  input[type="text"],
  input[type="number"],
  select {
    font-size: 18px;
    height: 28px;
  }

  .submit {
    top: 550px;
  }
}
